---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Eroare 404: Pagina nu a fost găsită - Resurse.dev"
	description="Ne pare rău, dar se pare că ai dat peste o pagină inexistentă pe site-ul Resurse.dev - contactează-ne dacă ai probleme."
	template="ErrorPage"
>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Eroare 404</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: Completează conținutul paginii curente EROARE 404
	</main>
</Layout>
