---
import Layout from '../layouts/Layout.astro';

const pageTitle = 'Politică de confidențialitate';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Confidențialitate',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="PrivacyPage TextPage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Politică de confidențialitate</h1>
		</div>
	</div>
	<main class="Main">@TODO: Completează conținutul paginii curente Confidențialitate</main>
</Layout>
