---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Politică de confidențialitate - Resurse.dev" description="@TODO" template="PrivacyPage">
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Politică de confidențialitate</h1>
		</div>
	</div>
	<main class="Main">
		Confidențialitate
	</main>
</Layout>
