---
import Layout from '@layouts/Layout.astro';

const pageTitle = 'Politică de cookies';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Cookies',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="CookiesPage TextPage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Politică de cookies</h1>
		</div>
	</div>
	<main class="Main">@TODO: Completează conținutul paginii curente Cookies</main>
</Layout>
