---
import Layout from "../layouts/Layout.astro";
const breadcrumbArray = [{
	href: Astro.url,
	title: "Politică de cookies",
	label: "Cookies"
}];
---

<Layout title="Politică de cookies - Resurse.dev" description="@TODO: scrie descrierea" template="CookiesPage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Politică de cookies</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: Completează conținutul paginii curente
		Cookies
	</main>
</Layout>
