---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Politică de cookies - Resurse.dev" description="@TODO: scrie descrierea" template="CookiesPage">
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Politică de cookies</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: Completează conținutul paginii curente
		Cookies
	</main>
</Layout>
