---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import { supabase } from '../lib/supabase';

const accessToken = Astro.cookies.get('sb-access-token');
const refreshToken = Astro.cookies.get('sb-refresh-token');

if (!accessToken || !refreshToken) {
	return redirect('/signin');
}

const { data, error } = await supabase.auth.setSession({
	refresh_token: refreshToken.value,
	access_token: accessToken.value,
});

if (error) {
	Astro.cookies.delete('sb-access-token', {
		path: '/',
	});
	Astro.cookies.delete('sb-refresh-token', {
		path: '/',
	});

	return redirect('/signin');
}

const email = data?.user?.email;

const pageTitle = 'Bine-ai venit în contul tău pe Resurse.dev';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Contul tău',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="DashboardPage SignedInPage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Bine-ai venit în contul tău, {email}</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: Completează conținutul paginii curente Dashboard
		<form action="/api/auth/signout">
			<button type="submit">Ieși din cont</button>
		</form>
	</main>
</Layout>
