---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ﾃ始trebﾄビi frecvente - Resurse.dev" description="@TODO" template="FAQPage">
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">ﾃ始trebﾄビi frecvente</h1>
		</div>
	</div>
	<main class="Main">
		FAQ
	</main>
</Layout>
