---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Întrebări frecvente - Resurse.dev" description="@TODO: scrie descrierea" template="FAQPage">
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Întrebări frecvente</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: Completează conținutul paginii curente
		FAQ
	</main>
</Layout>
