---

import Layout from '../layouts/Layout.astro';
import ResponsiveImage from '../components/ResponsiveImage.astro';
import testImage from '../img/ViorelMocanu - Splash YouTube v2 1920x1080 109.jpg';

---

<Layout title="Resurse.dev @TODO" description="@TODO: scrie descrierea" template="HomePage">
	@TODO: Completează conținutul paginii curente
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Resurse.dev</h1>
		</div>
	</div>
	<main class="Main">
		<a href="/resurse">Resurse</a>
		<ResponsiveImage image={testImage} alt="Test 1234" width={2560} height={1440} lazyLoading="true" className="TestClassName" breakpoint="1100" someAttr="someValue" />
	</main>
</Layout>