---

import Layout from '../layouts/Layout.astro';
import ResponsiveImage from '../components/ResponsiveImage.astro';
import testImage from '../img/ViorelMocanu - Splash YouTube v2 1920x1080 109.jpg';

const pageTitle = "Resurse.dev @TODO";
const pageDescription = "@TODO: scrie descrierea";

---

<Layout
	title={pageTitle}
	description={pageDescription}
	template="HomePage"
>
	@TODO: Completează conținutul paginii curente
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Resurse.dev</h1>
		</div>
	</div>
	<main class="Main">
		<a href="/resurse">Resurse</a>
		<ResponsiveImage
			image={testImage}
			alt="Test 1234"
			width={2560}
			height={1440}
			lazyLoading={true}
			classList={["TestClassName","test2"]}
			breakpoint={1100}
		/>
	</main>
</Layout>