---
import Layout from '../layouts/Layout.astro';

const pageTitle = 'Politica de securitate';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Securitate',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="SecuritatePage TextPage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Politica de securitate</h1>
		</div>
	</div>
	<main class="Main">@TODO: Completează conținutul paginii curente</main>
</Layout>
