---
import Layout from "../layouts/Layout.astro";
const breadcrumbArray = [{
	href: Astro.url,
	title: "Politica de securitate",
	label: "Securitate"
}];

---

<Layout title="Politica de securitate - Resurse.dev" description="@TODO: scrie descrierea" template="SecuritatePage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Politica de securitate</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: Completează conținutul paginii curente
	</main>
</Layout>
