---
import Layout from '@layouts/Layout.astro';

const pageTitle = 'Creează-ți contul pe Resurse.dev';
const pageDescription = '@TODO: scrie descrierea';
const breadcrumbArray = [
	{
		href: Astro.url,
		title: pageTitle,
		label: 'Creează cont',
	},
];
---

<Layout title={pageTitle} description={pageDescription} template="SignInPage" breadcrumbArray={breadcrumbArray}>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Creează-ți cont pe Resurse.dev</h1>
		</div>
	</div>
	<main class="Main">
		<p>Ai deja cont? <a href="/signin">Intră în cont acum &raquo;</a></p>
		<form id="registerForm" name="register" action="/api/auth/register" method="post">
			<fieldset class="Fieldset">
				<legend class="Legend">Introdu datele viitorului tău cont</legend>
				<label class="Label" for="email">
					<span class="LabelText">
						E-mail:
						<abbr class="Mandatory" title="Nu poți merge mai departe cu completarea acestui formular fără să completezi acest câmp.">(obligatoriu)</abbr>
					</span>
					<input
						class="Input"
						id="email"
						name="email"
						type="email"
						maxlength="150"
						minlength="3"
						placeholder="E-mail-ul tău..."
						pattern=".+@.+\.\w{2,10}"
						required="required"
						autocomplete="email"
					/>
				</label>
				<label class="Label" for="password">
					<span class="LabelText">
						Parola:
						<abbr class="Mandatory" title="Nu poți merge mai departe cu completarea acestui formular fără să completezi acest câmp.">(obligatoriu)</abbr>
					</span>
					<input
						class="Input"
						id="password"
						name="password"
						type="password"
						maxlength="50"
						minlength="8"
						placeholder="Parola ta..."
						required="required"
						autocomplete="new-password"
					/>
				</label>
			</fieldset>
			<fieldset class="Fieldset">
				<legend class="Legend">Introdu datele tale personale</legend>
				<label class="Label" for="firstname">
					<span class="LabelText">Prenume:</span>
					<input
						class="Input"
						id="firstname"
						name="firstname"
						type="text"
						maxlength="100"
						minlength="3"
						placeholder="Prenumele tău..."
						pattern="\w{3-100}"
						autocomplete="given-name"
					/>
				</label>
				<label class="Label" for="lastname">
					<span class="LabelText">Nume de familie:</span>
					<input
						class="Input"
						id="lastname"
						name="lastname"
						type="text"
						maxlength="100"
						minlength="3"
						placeholder="Numele tău..."
						pattern="\w{3-100}"
						autocomplete="family-name"
					/>
				</label>
				<label class="Label" for="linkedin">
					<span class="LabelText">Profil de LinkedIn:</span>
					<input
						class="Input"
						id="linkedin"
						name="linkedin"
						type="url"
						maxlength="200"
						minlength="10"
						placeholder="LinkedIn-ul tău..."
						value="https://www.linkedin.com/..."
						pattern="https://www.linkedin.com/in/.*"
					/>
				</label>
			</fieldset>
			<fieldset class="Fieldset">
				<legend class="Legend">Bifează căsuțele dorite</legend>
				<p class="FieldsetP">Ai citit <a href="/termeni-si-conditii">termenii și condițiile</a> de folosire a site-ului?</p>
				<label class="Label CheckboxLabel" for="check_terms">
					<input class="Checkbox" id="check_terms" name="check_terms" type="checkbox" value="true" required="required" />
					<span class="LabelText">
						Am citit și sunt de acord cu fascinanții termeni și minunatele condiții din acest site.
						<abbr class="Mandatory" title="Nu poți merge mai departe cu completarea acestui formular fără să bifezi această căsuță."> (obligatoriu)</abbr>
					</span>
				</label>
				<label class="Label CheckboxLabel" for="check_marketing">
					<input class="Checkbox" id="check_marketing" name="check_marketing" type="checkbox" value="true" checked="checked" />
					<span class="LabelText">
						Doresc să păstrez legătura și să fiu contactat de echipa care se ocupă de acest site și partenerii lor în scopuri de îmbunătățire a site-ului și marketing.
					</span>
				</label>
				<button class="Button CTAButton FormSubmitButton" id="submit_register" name="submit_register" type="submit" title="Creează un cont nou pe Resurse.dev acum!">
					<span class="ButtonText">Creează-ți contul &raquo;</span>
				</button>
			</fieldset>
		</form>
	</main>
</Layout>
