---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Termeni și condiții legale - Resurse.dev" description="@TODO" template="LegalPage">
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Termeni și condiții legale</h1>
		</div>
	</div>
	<main class="Main">
		Legal
	</main>
</Layout>
