---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Termeni și condiții legale";
const pageDescription = "@TODO: scrie descrierea";
const breadcrumbArray = [{
	href: Astro.url,
	title: pageTitle,
	label: "Legal"
}];

---

<Layout
	title={pageTitle}
	description={pageDescription}
	template="LegalPage TextPage"
	breadcrumbArray={breadcrumbArray}
>
	<div class="Hero" id="hero">
		<div class="HeroText">
			<h1 class="HeroTitle">Termeni și condiții legale</h1>
		</div>
	</div>
	<main class="Main">
		@TODO: Completează conținutul paginii curente
	</main>
</Layout>
