---
export interface Props {
	title?: string;
	type?: string;
}
const { title, type } = Astro.props;
---
<div class=`Message Message-${type}` role="alert">
	<h2 class="MessageTitle">{title}</h2>
	<div class="MessageBody">
		<slot />
	</div>
</div>