/* CSS Variables */
:root {
	--dark-100: #030303;
	--dark-200: #222222;
	--dark-300: #333333;
	--light-800: #FDFDFD;
	--light-900: #ffffff;
	--accent-400: #2f8ded;
}
/* SCSS Variables */
$desktop: 1100px;
$fonts: 'Atkinson Hyperlegible', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../font/atkinson-hyperlegible-regular.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('../font/atkinson-hyperlegible-bold.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Custom CSS reset */
html { font-family: $fonts; font-size: 16px; line-height: 1.25; -webkit-text-size-adjust: 100%; }
body { background: var(--dark-100); color: var(--light-800); margin: 0; }
.ActiveMenu { overflow: hidden; }
img { max-width: 100%; border-style: none; } // max-inline-size: 100%; block-size: auto;
table { border-collapse: collapse; }
textarea { white-space: revert; }
abbr[title] { border-bottom: none;  text-decoration: underline;  text-decoration: underline dotted; }
button, input, optgroup, select, textarea { font-family: inherit; font-size: 1rem; line-height: 1.25; margin: 0; }
button, input { overflow: visible; }
h1 { margin: 0; font-size: 2.25rem; line-height: 1em;
	@media (min-width: $desktop) { font-size: 3.5rem; line-height: 1em; letter-spacing: -0.01em; }
}

[hidden], .Hidden { display: none; }
a { color: var(--light-800); text-decoration: underline; }
a:hover { color: var(--accent-400); }
a:active { color: var(--light-800); text-decoration: none; }
.Link { @extend a; }

.Form { display: block; }
	.Fieldset { display: block; margin: 0; padding: 0; border: none; }
		.Label { display: block; }
		.Input { display: block; appearance: none; padding: 0.25rem; border: none; font-family: $fonts; font-size: 1rem; line-height: 1.5em; }

/* Utility classes */
.SROnly { clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; width: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; }
a#skip { @extend .SROnly; }
a#skip:focus { clip: unset; clip-path: unset; position: static; width: auto; height: auto; }
.Icon {  }

/* Structural classes */
.Framework {
	@media (min-width: $desktop) { margin: 1rem; border: 1px solid var(--light-900); }
}
	.Header { position: sticky; top: 0; z-index: 10; background: var(--dark-100); }
		/* @TODO: trebuie sa facem exclusiv HeaderMain sticky, nu tot parintele Header */
		.HeaderMain { display: flex; flex-direction: row; border-bottom: 1px solid var(--light-900); flex-wrap: wrap;
			@media (min-width: $desktop) { display: grid; grid-template-columns: repeat(auto-fill, minmax(21%, 1fr)); row-gap: 0; column-gap: 1rem; }
		}
			.LanguagePicker { width: 100%; padding: 0.5rem 0.5rem 0; background: var(--dark-200); font-size: 1rem; line-height: 1.5em;
				@media (min-width: $desktop) { order: 2; width: auto; padding: 0; margin-left: auto; background: transparent; }
			}
				.LanguagePickerList { display: flex; flex-direction: row; gap: 1rem; margin: 0; padding: 0; list-style-type: none; }
					.LanguagePickerItem { display: block; }
						.LanguagePickerLink { display: flex; flex-direction: row; gap: 0.25rem; padding: 0.5rem; text-decoration: none; background: var(--dark-300); opacity: 0.5;
							@media (min-width: $desktop) { padding: 1.125rem 1rem; background: transparent; }
						}
						.LanguagePickerLink:hover { background: var(--accent-400); color: var(--dark-100); }
						.Active .LanguagePickerLink { background: var(--dark-100); opacity: 1; }
						.Active .LanguagePickerLink:hover { background: var(--dark-100); color: var(--accent-400); }
							.LinkText { display: block; }
			.MenuTrigger { display: block; width: 3rem; padding: 0.75rem; position: relative; background: transparent; border: none; text-align: center; cursor: pointer;
				@media (min-width: $desktop) { display: none; }
			}
			.MenuTrigger:hover, .MenuTrigger:active, .ActiveMenu .MenuTrigger { background-color: var(--accent-400); color: var(--light-900); }
				.MenuTrigger .Icon { display: block; width: 1.5rem; height: 1.5rem; box-sizing: border-box; position: absolute; left: 0.75rem; top: 0.75rem; }
				.ActiveMenu .MenuTrigger .Icon { padding: 0.625rem 0 0; }
					.HamburgerBar { display: block; width: 1.5rem; height: 0.1875rem; margin: 0 0 0.1875rem; background-color: var(--light-900); transition: transform 0.5s ease-out, margin 0.5s ease-out; }
					.HamburgerBar1 { margin-top: 0.25rem; }
					.ActiveMenu .HamburgerBar1 { position: absolute; transform: rotate(45deg); margin-top: 0; }
					.ActiveMenu .HamburgerBar2 { position: absolute; transform: rotate(-45deg); }
					.HamburgerBar3 { margin: 0; }
					.ActiveMenu .HamburgerBar3 { display: none; }
			.Logo { display: block; padding: 0.75rem 0.25rem; font-size: 1.5rem; line-height: 1em; font-weight: bold; text-decoration: none;
				@media (min-width: $desktop) { order: 1; padding: 0.75rem 1rem; font-size: 2.25rem; line-height: 1em; }
			}
				.Logo .LinkText {  }
			.HeaderLink { display: flex; flex-direction: row; align-items: center; gap: 0.25rem; padding: 0.75rem; margin-left: auto; background: transparent; border: none; text-decoration: none;
				@media (min-width: $desktop) { order: 3; padding: 1.125rem 1rem; margin-left: unset; }
			}
				.HeaderLink .Icon { display: block; width: 1.5rem; height: 1.5rem; }
				.HeaderLink .LinkText { font-size: 1rem; line-height: 1.5em; }
			.Login {  }
			.MainMenu { width: 100%; height: calc(100vh - 5.75rem); overflow-y: auto; transform: translate3d(-100%, 0, 0); transition: transform 0.5s ease-in-out; background: var(--dark-100); border-top: 0.25rem solid var(--accent-400); font-size: 1rem; line-height: 1.5em; position: absolute; top: 5.75rem; box-sizing: border-box;
				@media (min-width: $desktop) { display: flex; flex-direction: row; order: 4; grid-column: 1 / span 3; width: 100%; height: unset; padding: 0; margin-left: auto; overflow: visible; position: static; top: unset; left: unset; transform: none; transition: none; background: transparent; border-top: 1px solid var(--light-900); }
			}
			.ActiveMenu .MainMenu { transform: translate3d(0, 0, 0); }
				.MainMenuList { display: flex; flex-direction: column; list-style-type: none; margin: 0; padding: 0;
					@media (min-width: $desktop) { flex-direction: row; }
				}
					.MainMenuItem { display: block; }
						.MainMenuLink { display: block; padding: 1rem; border-bottom: 1px solid var(--accent-400); font-weight: bold; text-decoration: none; font-size: 1.5rem; line-height: 1em; }
				.SearchForm {  }
					.SearchForm .Label { margin: 1rem 1rem 0.5rem;
						@media (min-width: $desktop) { display: none; }
					}
					.InputSearch { margin: 0.5rem 1rem 1rem; width: calc(100% - 2rem); }
		.Breadcrumbs { padding: 0 1rem; border-bottom: 1px solid var(--light-900);
			@media (min-width: $desktop) { padding: 0 1rem; }
		}
			.BreadcrumbList { display: flex; flex-direction: row; gap: 0.5rem; margin: 0; padding: 0; list-style-type: none; overflow-x: auto; }
				.BreadcrumbItem { display: flex; flex-direction: row; }
				.BreadcrumbItem:after { display: block; content: '\21E8'; margin: 0 0 0 0.5rem; padding: 0.5rem 0;
					@media (min-width: $desktop) { padding: 1rem 0; }
				}
				.BreadcrumbItem:last-of-type:after { display: none; }
					.BreadcrumbLink { display: block; text-decoration: none; }
						.BreadcrumbItem span { display: block; padding: 0.5rem 0; white-space: nowrap;
							@media (min-width: $desktop) { padding: 1rem 0; }
						}
	.Hero { display: flex; flex-direction: column; gap: 0.5rem; padding: 1rem 1rem 0.5rem;
		@media (min-width: 600px) { gap: 1rem; padding: 2rem 1rem 1rem; }
		@media (min-width: $desktop) { flex-direction: row; gap: 0; padding: 0; }
	}
	/* @TODO: pe h1 să punem un font-size: clamp(1.00rem, calc(0.49rem + 2.56vw), 2.25rem); */
		.HeroVisual {
			@media (min-width: $desktop) { flex-grow: 1; flex-shrink: 0; width: 37.5%; padding: 2rem; box-sizing: border-box; border-right: 1px solid var(--light-900); }
		}
			.HeroImage { display: block; width: 100%; height: auto; }
		.HeroText {
			@media (min-width: $desktop) { padding: 2rem 2rem 1rem; }
		}
			.HeroTitle { display: block; padding: 0 0 0.5rem; margin: 0 -1rem 0.5rem 0; border-bottom: 0.25rem solid var(--light-900);
				@media (min-width: 600px) { padding: 0 0 1rem; margin: 0 -1rem 1rem 0; }
				@media (min-width: $desktop) { padding: 0 0 0.5rem; margin: 0 0 1rem; border-bottom: 0.5rem solid var(--light-900); }
			}
			.HeroDetails { }
				.HeroPreview { display: block; }
				.HeroPreview:hover { opacity: 0.75; cursor: pointer; }
				.HeroPreview:active { opacity: 0.95; }
					.HeroP { margin: 0 0 0.5rem;
						@media (min-width: 600px) { margin: 0 0 1rem;; }
					}
					.HeroExpand { font-weight: bold; }
					.HeroPreview:hover .HeroExpand { color: var(--accent-400); }
					.HeroPreview:active .HeroExpand { color: var(--light-800); text-decoration: none; }
				.HeroContent {  }
					.HeroContent .HeroP {  }
	.Main { min-height: 200rem; background: yellow; }
	.Footer { min-height: 2rem; background: blue; }
	.BottomNav {  }